############################################
# OS files
############################################

.DS_Store
Thumbs.db

############################################
# Python
############################################

__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

venv/
.env/
.venv/

############################################
# Unity
############################################

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

MemoryCaptures/

*.pidb
*.booproj
*.svd
*.pdb

*.unityproj
*.suo
*.user
*.userprefs

############################################
# Visual Studio / C++
############################################

.vs/
*.vcxproj.user
*.VC.db
*.VC.opendb

Debug/
Release/
x64/
x86/
build/

*.obj
*.log
*.tlog
*.idb
*.pdb

############################################
# Shader cache
############################################

*.shadercache

############################################
# IDE
############################################

.vscode/
.idea/

############################################
# Misc
############################################

*.tmp
*.bak
*.swp
*.orig
